*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    width: 400px;
    margin: 100px auto;
}

/* -common- */
button{
    width: 60px;
    margin: 5px 0 0;
    font-size: 20px;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    outline: none;
}
h3{
    font-size: 28px;
    font-weight: 500;
    padding: 50px 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    text-transform: uppercase;
}
/* -common- */

/* -additem- */
.additem{
    display: flex;
    flex-direction: column;
}
.additem-content input{
    width: 340px;
    padding: 5px;
    float: left;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.additem-content input:focus{
    border: 1px solid #999;
}
.additem-content button:hover{
    color: #55efc4;    
}
/* -additem- */

/* -list- */
.listitem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listitem .left{
    position: relative;
    width: 340px;
}
.listitem .left .chkbox{
    margin: 0px 10px;
}
.listitem .left label{
    font-size: 20px;
}
.listitem .left .input{
    position: absolute;
    width: 300px;
    top: -7px;
    left: 33px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.listitem .right{
    display: flex;
    flex-direction: column;
}
.right .edit:hover{
    color: #333; 
}
.right .delete:hover{
    color: #ff7675;
}
/* -list- */

/* -edit- */
.edit-disable{
    display: none;
}
/* -edit- */

/* -Completed- */
.completed-list{
    text-decoration: line-through;
    color: #888;
}
/* -Complete- */